      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="/">Suam Lab Dashboard</a>
          </div>

          <div class="justify-content-end" id="navbarMenu">
            <ul class="navbar-nav" style="flex-direction: row;">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="material-icons">dashboard</i> Dashboard
                </a>
              </li>
              
              {% if current_user %}
              <li class="nav-item">
                <a class="nav-link" href="/profile">
                  <i class="material-icons">person</i> Profile
                </a>
              </li>
                {% if current_user["is_admin"] %}
                <li class="nav-item">
                  <a class="nav-link" href="/sync">
                    <i class="material-icons">sync</i> Sync
                  </a>
                </li>
                {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="/logout">
                  <i class="material-icons">logout</i> Log out
                </a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('github.login') }}">
                  <i class="fa fa-github"></i> Sign In with Github
                </a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/suam-team/lab-dashboard/blob/main/CONTRIBUTING.md">
                  <i class="fa fa-handshake-o"></i> Contributing
                </a>
              </li>
            </ul>
          </div>
          
        </div>
      </nav>