{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
        {% if msg %}
        <div class="alert">
          <span>{{ msg }}</span>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Hacking Lab</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Category
                        </th>
                        <th>
                          URL
                        </th>
                        <th>
                          Author
                        </th>
                        <th>
                          Solve 
                        </th>
                      </thead>
                      <tbody>
                        {% for lab in labs %}
                        <tr>
                          <td>
                            {{ loop.index }}
                          </td>
                          <td>
                            <a href="/lab/{{ lab.repo_name }}">{% if lab.repo_name in solved_labs %}<i class="fa  fa-check-circle"></i> {% endif %}{{ lab.name }}</a>
                          </td>
                          <td>
                            {{ lab.category }}
                          </td>
                          <td>
                            <a href="{{ lab.url }}">{{ lab.url }}</a>
                          </td>
                          <td>
                            {{ lab.author }}
                          </td>
                          <td>
                            {{ lab.solvers | length }}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}